.label {
    color: #fff;
    font-weight: initial!important;
}.edgePath .path {
    stroke: #fff;
    stroke-width: 1.5px;
}.node>rect {
    fill: #0000;
    stroke: #ffffff;
    stroke-width: 1px;
}[id^='arrowhead'] {
    fill: #fff;
}[id^='mermaidChart'] {
    max-width: 700px!important;
    background: #23241f;
}

 /*
    .node .label {
        text-align: center;
    }foreignObject {
        background: #23241f;
    }
*/
