/* 复制到剪切板 */
pre {
    position: relative;
    padding: 0px;
    border-radius: 0px;
    margin: 5px 0 5px;
}
pre > span {
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 0px;
    /* padding: 0 10px; */
    font-size: 13px;
    /* background: #ff9900; */
    color: #ff9900;
    cursor: pointer;
    display: none;
}
pre:hover > span {
    display: block;
}
pre > .copyed {
    /* background: #67c23a; */
}

/* 代码块 */
pre {
    margin: 5px 0 5px!important;
    padding: 0px!important;
    border-radius: 0px!important;
    border: 0.5px solid #eee!important;
}
.hljs-emphasis {
    font-style: initial!important;
}
