/* 页脚图标 */
footer .list-inline {
    display: none;
}footer .copyright {
    display: none;
}

/* 标题 */
.h1, .h2, .h3, h1, h2, h3 {
    margin: 10px 0!important;
}

/* 段落 */
p {
    margin: 5px 0!important;
}

/* 表格 */
.table {
    margin: 5px 0!important;
}

/* 文本 */
body {
    color: #c6c6c6!important;
}

/* 标题导航 */
.side-catalog {
    width: 300px!importint;
}

/* 滚动条 */
article {
    overflow-x: visible!important;
}

/* 文章顶部 */
.post-container {
    margin: 40px 0!important;
}

/* ABOUT ME */
.visible-md {
    display: block!important;
}

/* 代码块 */
pre {
    margin: 5px 0 5px!important;
    padding: 0px!important;
    border: 0px!important;
    border-radius: 0px!important;
}.hljs {
    padding: 0 0em!important;
}

/* 列表 */
.post-container ul, .post-container ol {
    margin-bottom: 5px 0px 5px!important;
}

/* 背景 */
body {
    background: #23241f!important;
}

/* 介绍背景 */
header.intro-header {
    background: #23241f!important;
}

/* 标签云 */
.tags a, .tags .tag a {
    color: #f90!important;
    background: #333!important;
    border: 0px!important;
    border-radius: 0px!important;
}

/* 标签 */
.one-tag-list .post-preview>a>.post-title {
    line-height: 1.5!important;
    margin: 0!important;
}.sidebar-container .tags a:hover, .sidebar-container .tags a:active {
    background: #404040!important;
}.tags a:hover, .tags .tag:hover, .tags a:active, .tags .tag:active {
    background: #404040!important;
}

/* 分页 */
.pager li>a, .pager li>span {
    background-color: #23241f!important;
    border: 3px solid #f90!important;
}

/* 分割线 */
hr {
    border-top: 0px!important;
}

/* 链接 */
a {
    color: #f90!important;
}.post-content-preview:hover {
    color: #f90!important;
}.sidebar-container a:hover, .sidebar-container a:active {
    color: #f90!important;
}#tag_cloud a:hover, #tag_cloud .tag:hover, #tag_cloud a:active, #tag_cloud .tag:active {
    background-color: #404040 !important;
}

/* 目录 */
.side-catalog .catalog-body .active {
    border-radius: 0px!important;
    background-color: rgb(128 128 128 / 0.5)!important;
    border: 0px solid #f90!important;
}.post-container ul ul {
    display: none;
}.h2_nav {
    text-indent: 0.5em;
}.h3_nav {
    text-indent: 1em;
}.h4_nav {
    text-indent: 1.5em;
}.h5_nav {
    text-indent: 2em;
}.h6_nav {
    text-indent: 2.5em;
}
