/* 页脚图标 */
footer .list-inline {
    display: none;
}footer .copyright {
    display: none;
}

/* 主页 */
.post-content-preview {
    font-style: initial!important;
}.post-preview>.post-meta {
    font-style: initial!important;
}

/* 标题 */
.h1, .h2, .h3, h1, h2, h3 {
    margin: 10px 0!important;
}

/* 文章标题 */
.intro-header .post-heading .meta {
    font-style: initial!important;
}

/* 文本 */
p {
    margin: 5px 0!important;
    word-break: break-word!important;
}

/* 表格 */
.table {
    margin: 5px 0!important;
}th {
    text-align: center!important;
}.table-responsive {
    margin-bottom: 0px!important;
    border: 0px solid #ddd!important;
}code {
    font-size: 100%!important;
}table {
    font-size: 90%!important;
}

/* 文本 */
body {
    color: #c6c6c6!important;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace!important;
}

/* 滚动条 */
.side-catalog.fixed {
    top: 0px!important;
}

/* 文章顶部 */
.post-container {
    margin: 40px 0!important;
}

/* ABOUT ME */
.visible-md {
    display: block!important;
}

/* 列表 */
.post-container ul, .post-container ol {
    margin: 5px 0px 5px 0px!important;
}.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 5px!important;
}.table th, .table td {
    border: 0.5px solid #eee!important;
}

/* 背景 */
body {
    background: #23241f!important;
}

/* 介绍背景 */
header.intro-header {
    background: #23241f!important;
}

/* 标签云 */
.tags a, .tags .tag a {
    color: #f90!important;
    background: #333!important;
    border: 0px!important;
    border-radius: 0px!important;
}

/* 标签 */
.one-tag-list .post-preview>a>.post-title {
    line-height: 1.5!important;
    margin: 0!important;
}.sidebar-container .tags a:hover, .sidebar-container .tags a:active {
    background: #404040!important;
}.tags a:hover, .tags .tag:hover, .tags a:active, .tags .tag:active {
    background: #404040!important;
}.post-preview>a {
    color: #c6c6c6!important;
}.post-preview>a:hover, .post-preview>a:focus {
    text-decoration: none;
    color: #f90!important;
}.listing-seperator {
    color: #f90!important;
}

/* 分页 */
.pager li>a, .pager li>span {
    background-color: #23241f!important;
    border: 3px solid #f90!important;
    color: #f90!important;
}.pager li>a:hover>span, .pager li>a:focus>span {
    color: #f90!important;
}

/* 分割线 */
hr {
    border-top: 0px!important;
}

/* 链接 */
.post-content-preview:hover {
    color: #f90!important;
}.sidebar-container a:hover, .sidebar-container a:active {
    color: #f90!important;
}#tag_cloud a:hover, #tag_cloud .tag:hover, #tag_cloud a:active, #tag_cloud .tag:active {
    background-color: #404040 !important;
}a {
    word-break: break-word!important;
}.side-catalog .catalog-body .active {
    border-radius: 0px!important;
    background-color: rgb(128 128 128 / 0.5)!important;
    border: 0px solid #f90!important;
}.post-container ul ul {
    display: none;
}.post-container a:hover, .post-container a:focus {
    color: #f90!important;
}.post-container a {
    color: #bfbfbf!important;
}a:focus, a:hover {
    text-decoration: none!important;
}.sidebar-container h5 a {
    color: #f90!important;
}.active {
    display: block;
}

/* 目录 */
.affix {
    position: absolute!important;
}.sidebar-container h5 {
    color: #f90!important;
    padding-bottom: 0em!important;
}nav[data-toggle=toc] .nav>.active:focus>a, nav[data-toggle=toc] .nav>.active:hover>a, nav[data-toggle=toc] .nav>.active>a {
    border-right: 0px solid #337ab7!important;
    color: #f90!important;
    font-size: 13px!important;
    font-weight: 700!important;
}nav[data-toggle=toc] .nav .nav>li>a {
    font-size: 13px!important;
    font-weight: 700!important;
}nav[data-toggle=toc] .nav>li>a {
    padding: 0px 1em!important;
    font-size: 13px!important;
    font-weight: 700!important;
}nav[data-toggle=toc] .nav>.active>ul {
    margin: 0 2em!important;
    padding-bottom: 0!important;
}nav[data-toggle=toc] .nav>li>a:focus, nav[data-toggle=toc] .nav>li>a:hover {
    border-right: 0px solid #337ab7!important;
}.side-catalog {
    width: 260px!important;  /* 目录宽度 */
}.nav > li {
    white-space: nowrap;     /* 目录不换行 */
}nav[data-toggle=toc] .nav .nav>li>a {
    overflow: hidden;        /* 溢出隐藏 */
    max-width: 200px;
    text-overflow: ellipsis; /* 省略号 */
}nav[data-toggle=toc] .nav>li>a {
    text-overflow: ellipsis; /* 省略号 */
    overflow: hidden;        /* 目录不换行 */
    white-space: nowrap;     /* 溢出隐藏 */
    width: 220px;
}.side-catalog {
    overflow-x: hidden!important;
}nav[data-toggle=toc] .nav>li>a {
    font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue",Arial,"PingFang SC","Hiragino Sans GB",STHeiti,"Microsoft YaHei","Microsoft JhengHei","Source Han Sans SC","Noto Sans CJK SC","Source Han Sans CN","Noto Sans SC","Source Han Sans TC","Noto Sans CJK TC","WenQuanYi Micro Hei",SimSun,sans-serif;

/* 图像 */ 
.post-container img {
    margin: 5px 0!important;
}

/* 复制到剪切板 */
pre {
    position: relative;
    /* 代码块 */
    margin: 5px 0 5px!important;
    padding: 0px!important;
    border-radius: 0px!important;
    border: 0.5px solid #eee!important;
    /* 代码块 */
}
pre > span {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 2px;
    padding: 0 10px;
    font-size: 12px;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    cursor: pointer;
    display:none;
}
pre:hover > span {
    display:block;
}
pre > .copyed {
    background: #67c23a;
}

/* 代码块 */
.hljs-emphasis {
    font-style: initial!important;
}
